---
const pageTitle = "About Me";

const identity = {
  name: "Ikquo",
  country: "United States",
  occupation: "high school senior",
};

const interests = [
  "Japanese Language",
  "Japanese Music",
  "Coding",
  "Light Novels",
  "Video Games",
  "Esports",
  "Swimming",
];

const fontWeight = "bold";
const textCase = "uppercase";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle={pageTitle}>
  <style define:vars={{ fontWeight, textCase }}>
    h1 {
      color: purple;
      font-size: 4rem;
    }
    .interests {
      font-weight: var(--fontWeight);
      text-transform: var(--textCase);
    }
  </style>
  <h2>... and this website!</h2>

  <p>
    Hi there!. I'm {identity.name}! Currently I live in the {identity.country}
     and am a {identity.occupation}.
  </p>

  <p>
    This website is a personal blog about things I want to write about. Usually
    reviews and findings of music, anime, and novels. I'm not looking to profit
    from this website for now, just want to write and publish things.
  </p>

  <p>My interests are:</p>
  <ul>
    {interests.map((interests) => <li class="interests">{interests}</li>)}
  </ul>
</BaseLayout>
