---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
  <p>Published on: {frontmatter.pubDate.slice(0, 10)}</p>
  <div class="tags">
    {
      frontmatter.tags.map((tag) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <p>
    Written by {frontmatter.author}
  </p>
  <p><em>{frontmatter.description}</em></p>
  <!-- <img src={frontmatter.cover} width="300" alt={frontmatter.coverAlt} /> -->

  <slot />
</BaseLayout>
<style>
  a {
    color: #6a1ae2;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    outline: none !important;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    margin: 0.25em;
    border: 0.5px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.25em 0.75em;
    font-size: 1.15em;
    background-color: #f8fcfd;
  }
</style>
